<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>

  <!-- Demo header-->
  <section class="pb-5 header text-center">
    <div class="container py-5 text-white">
      <header class="py-5">
        <h1 class="display-4">Show Employees</h1>
      </header>


      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card border-0 shadow">
            <div class="card-body p-5">

              <!-- Responsive table -->
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Department</th>
                      <th scope="col">Mobile Number</th>
                      <th scope="col">Handle</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 4, currentPage: p };">
                      <th scope="row">{{employee.id}}</th>
                      <td>{{employee.name}}</td>
                      <td>{{employee.department}}</td>
                      <td>{{employee.phoneNumber}}</td>
                      <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                          <li class="list-inline-item">
                            <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                          </li>
                          <li class="list-inline-item">
                            <button class="btn btn-success btn-sm rounded-0" type="button" (click)="updateEmployee(employee.id)" data-toggle="tooltip"
                              data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                          </li>
                          <li class="list-inline-item">
                            <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="deleteEmployee(employee.id)" data-toggle="tooltip"
                              data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <script src="../../../assets/js/jquery-3.3.1.slim.min.js"></script>
  <script src="../../../assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>