<div class="center">
  <h3>Show Employees</h3>
</div>
<table border="2px" class="center">
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee Cost</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let employee of employees;">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.department}}</td>
    <td>
      <button type="button" (click)="updateProduct(employee.id)">Update</button>
      <button type="button" (click)="deleteProduct(employee.id)">Delete</button>
    </td>
  </tr>
</table>