<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Add <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Show <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Search <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Update <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<!--/.Navbar-->

<!-- <nav class="nav nav-pills nav-fill navbar-dark bg-dark">
  <a class="nav-item nav-link" href="/about">About Us</a>
  <a class="nav-item nav-link" href="/add">Add Product</a>
  <a class="nav-item nav-link" href="/search">Search Product</a>
  <a class="nav-item nav-link" href="/show">Show Product</a>
  <a class="nav-item nav-link" href="/update">Update Product</a>
  <a class="nav-item nav-link" href="/registercompany">Register Company</a>
</nav> -->

<router-outlet></router-outlet>